<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>SceneGraph Tests</title>
    
    <link rel="stylesheet/less" href="../../../app/resources/app.less">
    <link rel="stylesheet/less" href="../../view/resources/SceneGraph.less">
    <style>
        .grcSceneGraph {
            height: 100px;
            margin: 1em 0;
        }
        .container {
            width: 50%;
            margin: 1em;
        }
        .controller { height: 50px; }
        .cp1 { background-color: #fcc; }
        .cp2 { background-color: #cfc; }
        .cp3 { background-color: #ccf; }
    </style>
</head>
<body class="claro">
    <div id="animation">
        <h1>Animation type for all widgets</h1>
        <a href="#" id="slide">Slide (default)</a>
        <a href="#" id="cover">Cover</a>
    </div>
    <div id="side">
        <h1>Active side for all widgets</h1>
        <a href="#" id="left">Left</a>
        <a href="#" id="right">Right (default)</a>
    </div>
    <script>var less = { env: "development" };</script>
    <script src="../../../less/dist/less-1.1.6.min.js"></script>

    <script>
        var dojoConfig = {
            async: true,
            isDebug: true,
            aliases: [
                ["domReady", "dojo/domReady"]
            ]
        };
    </script>
    <script src="../../../dojo/dojo.js"></script>
    <script>
        require([
            "grc/view/SceneGraph",
            "dijit/layout/StackController",
            "dijit/layout/ContentPane",
            "dojo/_base/lang",
            "dojo/dom",
            "dojo/dom-construct",
            "dojo/on",
            "dojo/has",
            "doh",
            "rishson/tests/TestService",
            "domReady!"
        ], function(SceneGraph, StackController, ContentPane,
                lang, dom, domConstruct, on, has, doh, TestService){
            
            console.log("has (csstransitions, csstransforms, csstransforms3d): ",
                has("csstransitions"), has("csstransforms"), has("csstransforms3d"));
            
            var fromRobot = location.search == "?robot";
            
            // register custom XHR handler for /testServices/delay/*
            // in order to test ContentPane loading
            TestService.register({
                handlers: [
                    [/^delay\/(.*)$/, function(frag){
                        return frag + " content";
                    }, 1000]
                ]
            });
            
            if(!fromRobot){
                doh.register("SceneGraph Tests", [
                    {
                        name: "Instantiation",
                        setUp: function(t){
                        },
                        runTest: function(t){
                            t.t(testWidget && testWidget._started,
                                "Widget should be instantiated and started.");
                        },
                        tearDown: function(t){
                        }
                    }
                ]);
            }
            
            function createWidget(id, useHref, loadBeforeTransition){
                var panes = [
                        new ContentPane({
                            id: id + "_cp1",
                            className: "cp1",
                            title: "one"
                        }),
                        new ContentPane({
                            id: id + "_cp2",
                            className: "cp2",
                            title: "two"
                        }),
                        new ContentPane({
                            id: id + "_cp3",
                            className: "cp3",
                            title: "three"
                        })
                    ],
                    div = domConstruct.create("div", {
                        id: id + "_container",
                        className: "container"
                    }),
                    args = { id: id, duration: 500 },
                    widget, nav, sc, p, i, len;
                
                if (loadBeforeTransition) {
                    args.loadBeforeTransition = true;
                }
                widget = new SceneGraph(args).placeAt(div);
                
                for (i = 0, len = panes.length; i < len; i++) {
                    p = panes[i];
                    if (useHref) {
                        // add href using TestService to test CP loading
                        p.set("href", "/testServices/delay/" + p.get("title"));
                    } else {
                        // set content directly, no load
                        p.set("content", p.get("title") + " content");
                    }
                    widget.addChild(p);
                }
                
                // back/forward links for calling back() and forward()
                nav = dojo.place('<div class="nav">' +
                    '<a class="back" href="#">Back (using reverse transition)</a>' +
                    ' <a class="forward" href="#">Forward</a></div>',
                    div, "first");
                
                on(nav, "a:click", function(evt){
                    // class is forward or back, matching SceneWidget method name
                    widget[this.className]();
                    evt.preventDefault();
                });
                
                // StackController for paging SceneGraph directly
                sc = new StackController({
                    id: id + "_controller",
                    containerId: id,
                    className: "controller"
                }).placeAt(div, "first");
                
                document.body.appendChild(div);
                sc.startup();
                widget.startup();
                
                return widget;
            }
            
            // create basic instance (also for tests)
            window.testWidget = createWidget("testWidget");
            domConstruct.place(
                "<h1>Basic test (loadBeforeTransition: false, CPs with content)",
                "testWidget_container", "before");
            
            // create instances to test loadBeforeTransition w/ CP's
            createWidget("lbaContentWidget", true);
            domConstruct.place(
                "<h1>Test with loadBeforeTransition: false, CPs with href",
                "lbaContentWidget_container", "before");
            
            createWidget("lbaHrefWidget", true, true);
            domConstruct.place(
                "<h1>Test with loadBeforeTransition: true, CPs with href",
                "lbaHrefWidget_container", "before");
            
            on(dom.byId("animation"), "a:click", function(evt){
                // id is slide/cover, matching transitionType value.
                // apply change to prototype to force on all widget instances.
                SceneGraph.prototype.transitionType = this.id;
                evt.preventDefault();
            });
            
            on(dom.byId("side"), "a:click", function(evt){
                // id is left/right, matching transitionSide value.
                // apply change to prototype to force on all widget instances.
                SceneGraph.prototype.transitionSide = this.id;
                evt.preventDefault();
            });
            
            if(!fromRobot){
                doh.run();
            }
        });
    </script>
</body>
</html>
