<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>SceneGraph Tests</title>
    
    <link rel="stylesheet/less" href="../../../app/resources/app.less">
    <link rel="stylesheet/less" href="../../view/resources/SceneGraph.less">
    <style>
        .grcSceneGraph {
            height: 100px;
            margin: 1em 0;
        }
        .container {
            width: 600px;
            margin: 1em;
        }
        .controller { height: 50px; }
        .container .cp1 { background-color: #fcc; }
        .container .cp2 { background-color: #cfc; }
        .container .cp3 { background-color: #ccf; }
    </style>
</head>
<body class="claro">
    <form id="settingsForm">
        <h1>Animation type for all widgets</h1>
        <div>
            <label><input type="radio" name="transitionType" value="slide" checked>
                Slide (default)</label>
            <label><input type="radio" name="transitionType" value="cover">
                Cover</label>
        </div>
        
        <h1>Transition side for all widgets</h1>
        <div>
            <label><input type="radio" name="transitionSide" value="left">
                Left</label>
            <label><input type="radio" name="transitionSide" value="right" checked>
                Right (default)</label>
            <label><input type="radio" name="transitionSide" value="top">
                Top</label>
            <label><input type="radio" name="transitionSide" value="bottom">
                Bottom</label>
            
        </div>
        
        <h1>Gap (Cover only)</h1>
        <div>
            <label>Size: <input type="text" name="gap" value="10" size="3"></label>
            <label><input type="radio" name="gapUnits" value="px">px</label>
            <label><input type="radio" name="gapUnits" value="%" checked>%</label>
        </div>
        <p><input type="submit" value="Recreate widgets"></p>
    </form>
    <script>var less = { env: "development" };</script>
    <script src="../../../less/dist/less-1.1.6.min.js"></script>

    <script>
        var dojoConfig = {
            async: true,
            isDebug: true,
            aliases: [
                ["domReady", "dojo/domReady"]
            ]
        };
    </script>
    <script src="../../../dojo/dojo.js"></script>
    <script>
        require([
            "grc/view/SceneGraph",
            "dijit/layout/StackController",
            "dijit/layout/ContentPane",
            "dijit/registry",
            "dojo/_base/lang",
            "dojo/dom",
            "dojo/dom-construct",
            "dojo/dom-form",
            "dojo/on",
            "dojo/aspect",
            "dojo/has",
            "rishson/tests/TestService",
            "domReady!"
        ], function(SceneGraph, StackController, ContentPane, registry,
                lang, dom, domConstruct, domForm, on, aspect, has, TestService){
            
            console.log("has (csstransitions, csstransforms, csstransforms3d): ",
                has("csstransitions"), has("csstransforms"), has("csstransforms3d"));
            
            function generateContent(str){
                str += " content ";
                for (var i = 8; i--;) {
                    str += str;
                }
                str = '<div style="float: right">floated right</div>' + str;
                return str;
            }
            
            // register custom XHR handler for /testServices/delay/*
            // in order to test ContentPane loading
            TestService.register({
                handlers: [
                    [/^delay\/(.*)$/, function(frag){
                        return generateContent(frag);
                    }, 1000]
                ]
            });
            
            function createCP(args, className, useHref){
                var p;
                
                if (useHref) {
                    // add href using TestService to test CP loading
                    args.href = "/testServices/delay/" + args.title;
                } else {
                    // set content directly, no load
                    args.content = generateContent(args.title);
                }
                
                p = new dijit.layout.ContentPane(args);
                
                // possible bug in 1.7: setting className on a widget
                // clobbers baseClass
                p.domNode.className += " " + className;
                
                // this may log, but should never log w/ defined arguments
                aspect.after(p, "resize", function() {
                    console.log(p.id + " resize", arguments);
                })
                
                return p;
            }
            
            function createWidget(id, additionalArgs, useHref){
                var div = dom.byId(id + "_container"),
                    args = lang.mixin({}, {
                        id: id,
                        duration: 1000
                    }, additionalArgs),
                    widget, nav, sc, p, i;
                
                if (!div) {
                    // first time creating this widget; create its container
                    div = domConstruct.create("div", {
                        id: id + "_container",
                        className: "container"
                    }, document.body);
                    
                    // hook up delegated event listener for forward/back
                    on(div, ".nav a:click", function(evt){
                        // class is forward/back, matching SceneWidget method name
                        registry.byId(id)[this.className]();
                        evt.preventDefault();
                    });
                } else {
                    // destroy existing widgets and clear node
                    registry.byId(id).destroyRecursive();
                    registry.byId(id + "_controller").destroyRecursive();
                    domConstruct.empty(div);
                }
                
                widget = new SceneGraph(args).placeAt(div);
                
                for (i = 1; i <= 3; i++) {
                    widget.addChild(createCP({
                        id: id + "_cp" + i,
                        title: "Child " + i
                    }, "cp" + i, useHref));
                }
                
                // back/forward links for calling back() and forward()
                nav = dojo.place('<div class="nav">' +
                    '<a class="back" href="#">Back (using reverse transition)</a>' +
                    ' <a class="forward" href="#">Forward</a></div>',
                    div, "first");
                
                // StackController for paging SceneGraph directly
                sc = new StackController({
                    id: id + "_controller",
                    containerId: id,
                    className: "controller"
                }).placeAt(div, "first");
                
                sc.startup();
                widget.startup();
                
                return widget;
            }
            
            function createWidgets(args){
                var first = !window.testWidget; // first time?
                
                // create basic instance (also for tests)
                window.testWidget = createWidget("testWidget", lang.clone(args));
                first && domConstruct.place(
                    "<h1>Basic test (loadBeforeTransition: false, CPs with content)",
                    "testWidget_container", "before");
                
                // create instances to test loadBeforeTransition w/ CP's
                createWidget("lbaContentWidget", lang.mixin({}, args), true);
                first && domConstruct.place(
                    "<h1>Test with loadBeforeTransition: false, CPs with href",
                    "lbaContentWidget_container", "before");
                
                createWidget("lbaHrefWidget",
                    lang.mixin({ loadBeforeTransition: true}, args), true);
                first && domConstruct.place(
                    "<h1>Test with loadBeforeTransition: true, CPs with href",
                    "lbaHrefWidget_container", "before");
            }
            
            var form = dom.byId("settingsForm");
            form.onsubmit = function() {
                var args = domForm.toObject(form);
                console.log("args:", args);
                createWidgets(args);
                return false;
            }
            
            // create widgets for first time
            createWidgets();
        });
    </script>
</body>
</html>
