// Import Claro's variables.less for mixins, used for button styles.
// Note that for widgets created as part of an app, this shouldn't be necessary
// if it is already imported as part of app.less.
@import "../../../../dijit/themes/claro/variables.less";

.widgetExampleWishlist table {
	width: 100%;
}

/* sort area styles */

.widgetExampleWishlist .sort {
	padding-top: 0.5em;
	border-bottom: 1px solid #999;
}

.widgetExampleWishlist .sort .sortBy {
	font-weight: bold;
}

.widgetExampleWishlist .sort label {
	padding-right: 2em;
}

.widgetExampleWishlist .sort input {
	margin-right: 0.5em;
}

/* table area styles */

.widgetExampleWishlist .list {
	border-collapse: collapse;
	border-spacing: 0;
}

.widgetExampleWishlist .list .header th {
	font-weight: bold;
	padding-top: 0.5em;
	border-bottom: 1px solid #000;
}

.widgetExampleWishlist .list th,
.widgetExampleWishlist .list td {
	padding: 2px;
}

.widgetExampleWishlist .list .price,
.widgetExampleWishlist .list .actions {
	width: 6em;
}

.widgetExampleWishlist .list .date {
	width: 15em;
}

.widgetExampleWishlist .list .dijitValidationTextBox,
.widgetExampleWishlist .list .dijitCurrencyTextBox {
	width: 100%;
}

/* "button" styles (actually links styled to look like Claro buttons) */

.widgetExampleWishlist .button {
	color: #000000;
	text-decoration: none;
	display: inline-block;
	padding: 2px 8px 4px;
	background-color: @button-background-color;
	background-image: url("../../../../dijit/themes/claro/form/images/button.png");
	background-position: center top;
	background-repeat: repeat-x;
	border: 1px solid @button-border-color;
	.border-radius(@button-border-radius);
	.box-shadow(0 1px 1px rgba(0, 0, 0, 0.15));
}

.widgetExampleWishlist .button:hover {
	background-color: #AFD9FF;
}