.AppContainer {
    height: 100%;
    width: 100%;
}

.AppContainer .AppContainerSubContainer {
    height: 100%;
    width: 100%;
}

.AppContainer .header {
    height: 40px;
    padding: 25px 20px 6px 0;
    border-bottom: 1px solid #CCCCCC;
}

.AppContainer .welcomeText {
    float: right;
    padding-top: 6px;
    padding-right: 3px;
}

.AppContainer .username {
	cursor: pointer;
	font-weight: bold;
}

.AppContainer .username:hover {
	color: #FFA500;
}

.AppContainer .headerLink{
    cursor: pointer;
}

.AppContainer .button {
	border-radius: 0.65em;
	-webkit-border-radius: 0.65em;
	-moz-border-radius: 0.65em;
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
	padding: 6px;
	cursor: pointer;
	line-height: 100%;
}

.AppContainer .logout {
    float:right;
    margin-left: 30px;
}

.AppContainer .footer {
    height: 20px;
    padding: 2px;
    border-top: 1px solid #CCCCCC;
    text-align: center;
}

.AppContainer .footerText {
    padding-top: 3px;
}

.AppContainer .mouseEnter {
    background: #76C8C4;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#76C8C4'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#76C8C4)); /* for webkit browsers */
    background: -moz-linear-gradient(top, #ffffff, #76C8C4); /* for firefox 3.6+ */
}