.AppContainer {
    height: 100%;
    width: 100%;
}

.AppContainer .AppContainerSubContainer {
    height: 100%;
    width: 100%;
}

.AppContainer .header {
    height: 40px;
    padding: 25px 20px 6px 0;
    border-bottom: 1px solid #CCCCCC;
}

.AppContainer .welcomeText {
    float: right;
    padding-top: 6px;
    padding-right: 3px;
}

.AppContainer .username {
    float: right;
    font-weight: bold;
    padding-top: 8px;
    padding: 5px;
    border: 1px solid #ffffff;
    cursor: pointer;
}

.AppContainer .headerButton {
    padding: 5px;
    border: 1px solid #c0c2c5;
    cursor: pointer;
    line-height: 100%;
    border-radius: 0.65em;
    -webkit-border-radius: 0.65em;
    -moz-border-radius: 0.65em;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .4);
}

.AppContainer .logout {
    float:right;
    margin-left: 30px;
}

.AppContainer .footer {
    height: 20px;
    padding: 2px;
    border-top: 1px solid #CCCCCC;
    text-align: center;
}

.AppContainer .footerText {
    padding-top: 3px;
}

.AppContainer .mouseEnter {
    background: #76C8C4;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#76C8C4'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#76C8C4)); /* for webkit browsers */
    background: -moz-linear-gradient(top, #ffffff, #76C8C4); /* for firefox 3.6+ */
}