<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
		"http://www.w3.org/TR/html4/strict.dtd">
<html>
	<head>
		<title>doh.robot AppContainer Test</title>

		<style>
			@import "../../../util/doh/robot/robot.css";
		</style>

		<!-- required: dojo.js -->
		<script type="text/javascript" src="../../../src/js/dojo/dojo-release-1.6.1-src/dojo/dojo.js"
			djConfig="isDebug: true"></script>


		<script type="text/javascript">
            dojo.registerModulePath('rishson', '../../../rishson');

			dojo.require('rishson.enterprise.view.AppContainer');

			dojo.require("dojo.window");
			dojo.require("dijit.robotx");

			dojo.ready(function(){
				doh.robot.initRobot('../../functional/testAppContainer.html');

				doh.register("AppContainer tests", [	
					{
						name: "Create tests",
						setUp: function(){
						},
						runTest: function(){
						},
						tearDown: function(){
						}
					}

				]);
				doh.run();
			});
		</script>
	</head>
</html>
