<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>$className$ Robot Test</title>
    
    <link rel="stylesheet" href="$pathToJs$/util/doh/robot/robot.css">
    
    <script>
        var dojoConfig = {
            isDebug: true,
            aliases: [
                ["domReady", "dojo/domReady"]
            ]
        };
    </script>
    <script src="$pathToJs$/dojo/dojo.js"></script>
    <script>
        require([
            "doh",
            "dojo/window",
            "dijit/robotx",
            "domReady!"
        ], function(doh, win){
            doh.robot.initRobot("../$className$.html?robot");
            
            var testWidget;
            doh.register("$className$ Tests", [ 
                {
                    name: "Create tests",
                    setUp: function(t){
                        // use global dijit object, altered by dijit/robotx
                        testWidget = dijit.byId("testWidget");
                    },
                    runTest: function(t){
                        t.t(testWidget && testWidget._started,
                            "Widget should be instantiated and started.");
                    },
                    tearDown: function(t){
                    }
                }
            ]);
            
            doh.run();
        });
    </script>
</head>
</html>
