.AppContainer {
    height: 100%;
    width: 100%;
}

.AppContainerSubContainer {
    height: 100%;
    width: 100%;
}

.header {
    height: 40px;
    padding: 5px;
}

.footer {
    height: 20px;
    padding: 2px;
}