.AppContainer {
    height: 100%;
    width: 100%;
}

.AppContainer .AppContainerSubContainer {
    height: 100%;
    width: 100%;
}

.AppContainer .header {
    height: 40px;
    padding: 5px;
    border-bottom: 1px solid #CCCCCC;
}

.AppContainer .welcome {

}

.AppContainer .logout {
    right:0;
}

.AppContainer .footer {
    height: 20px;
    padding: 2px;
    border-top: 1px solid #CCCCCC;
}