<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>ScreeningForm Tests</title>
    
    <link rel="stylesheet/less" href="../../../app/view/resources/app.less">
</head>
<body class="claro">
    <div id="testWidget"></div>
    <script>var less = { env: "development" };</script>
    <script src="../../../less/dist/less-1.1.6.min.js"></script>

    <script>
        var dojoConfig = {
            async: true,
            isDebug: true,
            aliases: [
                ["domReady", "dojo/domReady"]
            ]
        };
    </script>
    <script src="../../../dojo/dojo.js"></script>
    <script>
        require(["app/view/ScreeningForm", "doh", "domReady!"], function(ScreeningForm, doh){
            
            var fromRobot = location.search == "?robot";
            
            if(!fromRobot){
                doh.register("ScreeningForm Tests", [
                    {
                        name: "Instantiation",
                        setUp: function(t){
                        },
                        runTest: function(t){
                            t.t(testWidget && testWidget._started,
                                "Widget should be instantiated and started.");
                        },
                        tearDown: function(t){
                        }
                    }
                ]);
            }
            
            var testWidget = new ScreeningForm({}, "testWidget");
            testWidget.startup();
            
            if(!fromRobot){
                doh.run();
            }
        });
    </script>
</body>
</html>
